:root{
--primary: rgba(223, 171, 0, 0.527);
--light: rgba(206, 202, 151, 0.411);
--dark: rgba(102, 102, 102, 0.39);
--shadow: rgba(0,0,0,.5);
--corners: .5em;
}

body{
  background-image: url('forest.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
 background-size: cover;
}

p{
  margin: .5em 0;
}

img{
  max-width: 15%;
  position:absolute;
  top:15%;
  left:20%;
  z-index: 5;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid rgb(95, 3, 3);
  box-shadow: 3px 3px 3px rgb(236, 128, 128);
}
#dragon{
  max-width: 500%;
  top: -10%;
  left: 35%;
  z-index: -1;
  position: fixed;
}
#demon1{
  max-width: 200%;
  top: -10%;
  left: 30%;
  z-index: -1;
  position: fixed;
}
#demon2{
  max-width: 75%;
  top: -25%;
  left: 15%;
  z-index: -1;
  position: fixed;
}
#demon3{
  max-width: 200%;
  top: 10%;
  left: 35%;
  z-index: -1;
  position: fixed;
  filter: drop-shadow(20px 40px 60px #1b1b1b);

}
.boss{
  opacity: .6;
}
#dialog{
  position: fixed;
  padding: 5px;
  top: 5%;
  left: 78%;
  width: 20%;
  height: 40%;
  border: 3px solid var(--primary);
  background-color: rgba(206, 202, 151, 0.808);
  border-radius:var(--corners) ;
  opacity: .6;
  text-align: left;
  color: rgb(51, 29, 0);
  overflow-y: auto;
}
#hp{
  background-color: red;
  width: 50%;
  border:red;

}
#hp {
  background-color: black;
  border-radius: 8px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
  width: 50%;
}
#hp>div {
  background-color: maroon;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 5px;
}

#exp {
  background-color: white;
  border-radius: 8px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
  width: 50%;
}
#exp>div {
  background-color: blue;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 5px;
}
form{
  margin: 0;
}

label{
  display: block;
  font-size: 12pt;
}

input{
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: black;
  background-color: transparent;
  background-clip: padding-box;
  border: 5em;
  border-bottom: 1px solid black;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input:focus{
  outline: none;
}

button{
  background-color: var(--primary);
  color: black;
  border-radius: var(--corners);
  box-shadow: var(--shadow);
  text-transform: uppercase;
  transition: all .2s ease;
  cursor: pointer;
  padding: .5em;
}
/* equipment
.equipped{
  background-color: rgb(77, 153, 0) !important;
}
*/
button:focus{
  outline: none;
}
button:active{
  background-color: var(--dark-lighten);
}

button.btn-special{
  background: transparent;
  word-wrap: normal;
  border: none;
  width: 100px;
  box-shadow: none;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

button.btn-special:focus{
  outline: none;
}
button.btn-special:hover{
  color: var(--primary);
}

.container{
  margin: 0 .5em;
}

.card{
  background-color: var(--light);
  padding: 1em;
  box-shadow: var(--shadow);
  border-radius: var(--corners);
  width: 30%;
}

.sm-card{
  padding: 1em;
  box-shadow: var(--shadow);
  border-radius: var(--corners);
  width: 15%;
}

.shadow{
  filter: drop-shadow(var(--shadow));
}

.bg-dark{
  background-color: var(--dark);
}
.text-light{
  color: var(--light)
}

.btn-dark{
  background-color: var(--dark-lighten);
  border-color: var(--dark);
}
.btn-dark:hover{
  background-color: var(--dark);
  border-color: var(--dark-lighten);
}

.btn-cancel:hover{
  background-color: red;
  text-emphasis: bold;
}

.text-danger{
  color: var(--danger);
}

.d-flex{
  display: flex;
  align-items: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.d-flex.space-between{
  justify-content: space-between;
}
.d-flex.space-around{
  justify-content: space-around;
}
.d-flex.justify-content-center{
  justify-content: center;
}
.left{
  align-items: left;
  position: absolute;
  left: 5%;
  top: 5%
}
.center{
  align-items: center;
  position: absolute;
  left: 40%;
  top: 30%
}

.right{
  position: absolute;
  left: 60%;
  top: 25%
}
.spells{
display: table-cell;
}
.days{
  position: fixed;
  top: 5%;
  left: 48%;
  font-size: 24;
}
.mt-1{
  margin-top: .5em;
}
.mt-2{
  margin-top: 1em;
}
.mt-3{
  margin-top: 1.5em;
}

.mb-1{
  margin-bottom: .5em;
}
.mb-2{
  margin-bottom: 1em;
}
.mb-3{
  margin-bottom: 1.5em;
}

.m-1{
  margin: .5em;
}
.m-2{
  margin: 1em;
}
.m-3{
  margin: 1.5em;
}

.p-1{
  padding: .5em;
}
.p-2{
  padding: 1em;
}
.p-3{
  padding: 1.5em;
}

.pt-1{
  padding-top: .5em;
}
.pt-2{
  padding-top: 1em;
}
.pt-3{
  padding-top: 1.5em;
}

.pb-1{
  padding-bottom: .5em;
}
.pb-2{
  padding-bottom: 1em;
}
.pb-3{
  padding-bottom: 1.5em;
}

.w-50{
  width: 100%;
}

.text-center{
  text-align: center;
}

.action{
  cursor: pointer;
  transition: all .3s linear;
  filter: brightness(.8);
}
.action:hover{
  filter: brightness(1);
}

.hidden{
  display: none !important;
}
@media screen and (max-width: 600px){
  #wizard{
    max-width: 22%;
    top: 28%;
    left: 23%;
  }
}
@media screen and (max-width: 600px){
  #paladin{
    max-width: 22%;
    top: 28%;
    left: 23%;
  }
}
@media screen and (max-width: 600px){
  #barbarian{
    max-width: 22%;
    top: 28%;
    left: 23%;
  }
}
@media screen and (max-width: 600px){
  #rogue{
    max-width: 22%;
    top: 28%;
  }
}
.enemy{
  animation: appear 2s;
}

.hurt{
animation: hurt 1s;
}
@keyframes hurt {
  from{
    background-color: red;
  }
  to{
    background-color: var(--light);
    color:black;
  }
}
@keyframes appear {
  from{
    background-color: white;
    color: white;
  }
  to{
    background-color: var(--light);
    color:black;
  }
}
.hit{
  animation: hit 1s;
}
@keyframes hit {
  from{
    filter: drop-shadow( 4px 8px 16px red);
    left: 19.5%;
  }
  to{
    filter: drop-shadow(var(--light));
    color:black;
    left: 20%
  }
  
}
/* tip container */
.tip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tip .tiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tip:hover .tiptext {
  visibility: visible;
}
.player img{
  filter: drop-shadow(2px 4px 6px #1b1b1b);
  transition: all .35s ease;
}
.player.m1 img{
  filter: drop-shadow(2px 4px 6px #0dd417);
}
.player.m2 img{
  filter: drop-shadow(2px 4px 6px #110ebe);
}
.player.m3 img{
  filter: drop-shadow(2px 4px 6px #ffe600) contrast(1);
}

